@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&display=swap');
body{
  font-family: 'Merriweather', serif;
  background-image: linear-gradient(-140deg, rgba(12, 3, 51, 0.85) 50%, rgba(10, 0, 51, 0.85) 100%);
  color: white;
}
.hero{
  width:100%;
  height:100vh;
  background-image:linear-gradient(rgba(12, 3, 51, 0.3),rgba(12, 3, 51, 0.3)) ;
  position:relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;

}
nav ul li a{
  text-decoration: none;
  color: #FFB8A8;
  font-size: 20px;
}
.content{
  text-align: center;
}
.content h1{
  font-size: 250px;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
  font-weight: 600;

}
@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(255, 184, 168, 1);
  --c2: rgba(255, 184, 168, 0.1);
}

.wrapper {
  min-width: min(40rem, 100%);
}

.box {
  font-size: 3vw;
  margin: max(1rem, 3vw);
  border: 0.35rem solid;
  padding: 3vw;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
  border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

.back-video{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  z-index: -1;
 opacity: 80%;
}

.hap{
  color: white;
}
.cont{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.cont{
   
    width: 100%;
    display: grid;
    place-items: center;
}
.rows{
    width: 90%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 40px;
}
.rows .left{
    overflow: hidden;
}
.rows .left img{
    width: 100%;
    object-fit: cover;
}
.rows .right{
    display: flex;
    align-items: center;
}
.rows .right .content{
    padding-left: 20px;
    color: #FFF;
}
.rows .right .content p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}
@media (max-width : 991px){
    .rows .right .content{
        padding-left: 0;
    }
 }
 @media (max-width: 768px){
    .rows{
        width: 90%;
        grid-template-columns:1fr;
    }
 }

.getin{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 1.0);
    padding: 30px;
 }
 .getin .title{
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
    font-weight: 800px;
    font-size: 100px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: #5543ca;
    background: linear-gradient(273deg, #FFB8A8, #FFF);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
 }
 .contact-form .form-field{
    position: relative;
    margin: 32px 0;
 }
 .contact-form .input-text{
    display: block;
    width: auto;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #e66465;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
 }
 .contact-form .input-text:focus + label,
 .contact-form .input-text.not-empty + label{
    transform: translateY(-24px);
}
 .contact-form .input-text:focus{
    outline: none;
 }
 .contact-form .label{
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #e66465;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
 }

.contact-form .submit-btn{
    display: inline-block;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3),rgba(12, 3, 51, 0.3)) ;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    width: 300px;
    cursor: pointer;
}

.slide{
  display: flex;
  justify-content:center ;
  align-items: center;
  height: 100hv;
}
.swiper{
  width: 100%;

}
.swiper-wrapper{
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;

}
.swiper-slide:not(.swiper-slide-active){
  filter:blur(1px);
}
.card{
  width: 20em;
  height: 90%;
  background-color: white;
  border-radius: 2em;
  box-shadow:  0 0 2em rgba(0, 0, 0, .2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 2em;
}
.card_image{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border:5px solid #ef4c4c;
  padding: 3px;
  margin-bottom: 2em  ;

}
.card_image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1px;
}
.card_title{
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  position: relative;
  top: .2em;
}
.card_name{
  color:#ef4c4c;
}
.card_text{
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
  color: black;
}

#Address{
  text-decoration: none; 
  padding-left:20px; 
  font-family: var(--bs-body-font-family); 
}
.site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
